# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcuserstate
*.xcscheme
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/xcode/
*.resolved

# Claude Flow
.claude-flow/

# Environment / Secrets
.env
*.env.*
